:root {
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007aff;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
}
button:hover {
  border-color: #258eff;
}
button:focus,
button:focus-visible {
  outline: #82bdfd solid 4px;
  background-color: #0373eb;
}

button:disabled,
button:disabled:hover {
  background-color: #8ac3ff;
}

button.transparent {
  background-color: transparent;
  border-color: transparent;
  color: #cccccc;
}
button.transparent:focus,
button.transparent:focus-visible {
  outline: none;
  background-color: transparent;
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button > .material-symbols-rounded {
  margin-right: 5px;
}

input[type="text"] {
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
  margin: 5px;
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: #82bdfd solid 4px;
  border: 1px solid #007aff;
}

input.select:focus,
input.select:focus-visible {
  outline: #82bdfd solid 4px;
  border: 1px solid #007aff;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
