<script lang="ts">
    import { slide, fade, crossfade, fly, blur } from 'svelte/transition';
    import type { BoardEntity, Stage, Page, Item, EntityType } from '../model/BoardEntity';

    const [ send, receive ] = crossfade({
        duration: 750,
        fallback: fade
    });

    export let stages: Stage[];
$:  stageIndexByName = buildStageIndexByName(stages);
$:  stageEntities = emptyStageEntities(stages);

    function buildStageIndexByName(stages: Stage[]): Map<string, number> {
        let stageIndexByName = new Map<string, number>();
        stages.forEach((stage, index) => stageIndexByName[stage.stageName] = index);
        return stageIndexByName;
    }

    function emptyStageEntities(stages: Stage[]): BoardEntity[][] {
        return stages.map((stage) => []);
    }

    export function clear() {
        stageEntities = emptyStageEntities(stages);
    }

    export function addEntityToStage(entity: BoardEntity, stageName: string) {
        let stageIndex = stageIndexByName[stageName];
        if (stageIndex !== undefined) {
            stageEntities[stageIndex] = [...stageEntities[stageIndex], entity];
        }
    }

    export function removeEntityFromStage(entity: BoardEntity, stageName: string) {
        let stageIndex = stageIndexByName[stageName];
        if (stageIndex !== undefined) {
            let stage = stages[stageIndex];
            if (stage.entityType === "Page" && entity.entityType === "Item") {
                stageEntities[stageIndex] = stageEntities[stageIndex].map((page: Page) => {
                    page.items = page.items.filter((it) => it.entityId !== entity.entityId);
                    return page;
                });
            } else {
                stageEntities[stageIndex] = stageEntities[stageIndex].filter((it) => it.entityId !== entity.entityId);
            }
        }
    }

    export function moveEntityBetweenStages(entity: BoardEntity, fromStage: string, toStage: string) {
        removeEntityFromStage(entity, fromStage);
        addEntityToStage(entity, toStage);
    }

    function asPage(entity: BoardEntity): Page {
        return entity as Page;
    }

</script>

<div class="board">
    {#each stages as stage, stageIndex}

    <div class="stage">
        <div class="stage-title">
            <div>{stage.stageName}</div>
            <div class="count">{stageEntities[stageIndex].length || 0}</div>
        </div>
        <div class="padding">
            <div class="item-container">
                {#if stage.entityType === "Page"}
                    {#each stageEntities[stageIndex] as entity (entity.entityId)}
                    {@const page = asPage(entity)}
                    <div class="page" in:send={{ key: page.entityId }} out:receive={{ key: page.entityId }}>
                        <div class="page-container">
                            <div class="page-title">{page.entityId}</div>
                            <div class="page-item-container">
                                {#each page.items as item (item.entityId)}
                                <div class="item" in:send={{ key: item.entityId }} out:receive={{ key: item.entityId }}>{item.entityId}</div>
                                {/each}
                            </div>
                        </div>
                    </div>
                    {/each}
                {:else if stage.entityType === "Item"}
                    {#each stageEntities[stageIndex] as item (item.entityId)}
                    <div class="item" in:send={{ key: item.entityId }} out:receive={{ key: item.entityId }}>{item.entityId}</div>
                    {/each}
                {/if}
            </div>
        </div>
    </div>
    {/each}
</div>


<style>
    .board {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      align-content: stretch;
      height: 100%;
      overflow-y:auto;
      overflow-x: hidden;
    }
    .board::-webkit-scrollbar {
        width: 10px;
    }

    .board::-webkit-scrollbar-track {
    }
    
    .board::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #cccccc;
    }


    .stage {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 360px;
        margin: 20px;
    }

    .stage-title {
        font-size: 15px;
        font-weight: bold;
        padding: 5px 0 10px 0;
        color: #777777;
        text-transform: uppercase;
        border-bottom: 4px solid #a0cbfc;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .count {
        background-color: #f0f0f0;
        color: #333333;
        border-radius: 3px;
        padding: 2px 15px;
    }

    .item-container {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        border-radius: 5px;
        height: 100%;
        margin-top: 10px;
        overflow: visible;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 10px;
        justify-content: flex-start;
    }

    .page {
        border-radius: 10px;
        align-content: flex-start;
        border: 3px dashed #dddddd;
        width: 100%;
        min-height: 500px;
    }

    .page-container {
        padding: 5px 0 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page .page-title {
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .page-item-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
    }

    .item {
        height: 60px;
        width: 60px;
        background-color: #ffffff;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.03);
    }
</style>
  
