
<script lang="ts">
    import type { Config } from "../model/Config";
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();
    
    let visible: boolean = false;
    export let config: Config;
    export let defaultConfig: Config | undefined = undefined;

    export function show() {
        visible = true;
    }

    export function ok() {
        dispatch("ok", config);
        visible = false;
    }

    export function close() {
        visible = false;
    }

    export function reset() {
        if (defaultConfig !== undefined) {
            config.fetchConfig = {
                totalItems: defaultConfig.fetchConfig.totalItems,
                itemsPerPage: defaultConfig.fetchConfig.itemsPerPage,
                fetchTimeRange: { ...defaultConfig.fetchConfig.fetchTimeRange }
            };
            config.bufferSize = defaultConfig.bufferSize;
            config.processConfig = {
                concurrency: defaultConfig.processConfig.concurrency,
                processTimeRange: { ... defaultConfig.processConfig.processTimeRange }
            };
        }
    }

</script>

{#if visible}
<div class="mask">
    <div class="dialog">
        <div class="dialog-title">
            <div class="row"><span class="material-symbols-rounded">tune</span> &nbsp; Settings</div>
            <div><button class="transparent" on:click={close}><span class="material-symbols-rounded">close</span></button></div>
        </div>
        <div class="dialog-body">
            <section>
                <h3>Fetching</h3>
                <div class="row">
                    <div class="input-group column">
                        <label for="fetch-total-items">Total Items</label>
                        <input id="fetch-total-items" type="text" bind:value={config.fetchConfig.totalItems} class="numeric" />
                    </div>
                    <div class="input-group column">
                        <label for="fetch-items-per-page">Items per Page</label>
                        <input id="fetch-items-per-page" type="text" bind:value={config.fetchConfig.itemsPerPage} class="numeric" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group column">
                        <label for="fetch-time-start">Fetch Time - Min</label>
                        <input id="fetch-time-start" type="text" bind:value={config.fetchConfig.fetchTimeRange.start} class="numeric" />
                    </div>
                    <div class="input-group column">
                        <label for="fetch-time-end">Fetch Time - Max</label>
                        <input id="fetch-time-end" type="text" bind:value={config.fetchConfig.fetchTimeRange.end} class="numeric" />
                    </div>
                </div>
            </section>

            <section>
                <h3>Buffering</h3>
                <div class="row">
                    <div class="input-group column">
                        <label for="buffer-size">Buffer Size</label>
                        <input id="buffer-size" type="text" bind:value={config.bufferSize} class="numeric" />
                    </div>
                    <div class="input-group column">
                    </div>
            </section>

            <section>
                <h3>Processing</h3>
                <div class="row">
                    <div class="input-group column">
                        <label for="process-concurrency">Concurrency</label>
                        <input id="process-concurrency" type="text" bind:value={config.processConfig.concurrency} class="numeric" />
                    </div>
                    <div class="input-group column">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group column">
                        <label for="process-time-start">Process Time - Min</label>
                        <input id="process-time-start" type="text" bind:value={config.processConfig.processTimeRange.start} class="numeric" />
                    </div>
                    <div class="input-group column">
                        <label for="process-time-end">Process Time - Max</label>
                        <input id="process-time-end" type="text" bind:value={config.processConfig.processTimeRange.end} class="numeric" />
                    </div>
                </div>
            </section>
        </div>
        <div class="dialog-footer">
            <button on:click={reset} class="flat">
                <span class="material-symbols-rounded">restart_alt</span> Reset
            </button>
            <button on:click={ok}>
                <span class="material-symbols-rounded">check_circle</span> Ok
            </button>
        </div>
    </div>
</div>
{/if}


<style>

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

        background-color: rgba(255, 255, 255, 0.75);
        z-index: 200;
    }

    .dialog {
        position: absolute;
        margin: auto;

        width: 800px;
        min-height: 500px;
        padding: 30px;

        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-content: stretch;

        background-color: #ffffff;
        box-shadow: 0px 10px 40px 20px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .dialog-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: 20px;
        font-weight: 400;
        color: #cccccc;
    }

    .dialog-body {
        display: flex;
        flex-direction: column;
        min-height: 500px;
        margin-bottom: 40px;
    }

    .dialog-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
    }

    button.transparent {
        padding: 0 0;
    }

    button.flat {
        background-color: transparent;
        border: 1px solid #cccccc;
        color: #333333;
    }

    button.flat:focus,
    button.flat:focus-visible {
        outline: #82bdfd solid 2px;
    }

    button.flat:active {
        background-color: #f9f9f9;
        box-shadow: inset 0px 3px 8px 3px rgba(0, 0, 0, 0.05);
    }

    h3 {
        font-weight: 400;
        font-size: 16px;
        color: #999999;
        margin-bottom: 0;
        margin-top: 30px;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        color: #333333;
    }

    input[type="text"].numeric {
        text-align: left;
    }

</style>
